@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-feature-settings: 'clig' off, 'liga' off;
    font-style: normal;
}

h1{
    font-size: 115px;
    font-weight: 350;
    line-height: 110%; /* 126.5px */

/* text drop shadow */
text-shadow: 2px 2px 120px 5px rgba(0, 0, 0, 0.15);
}

h2{
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}

h3{
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 171.429% */
letter-spacing: 2px;
text-transform: uppercase;
}

h4{

}

h5{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    letter-spacing: 2px;
    text-transform: uppercase;
    
}

p{
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.75px;
}

.large-paragraph{
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 60.9px */
    letter-spacing: 0.75px;
}

button, .button-text{
    font-size: 8px;
font-style: normal;
font-weight: 700;
line-height: 145%; /* 11.6px */
letter-spacing: 2px;
text-transform: uppercase;
}

@media screen and ( max-width:768px ) {
    h1{
        font-size:48px;
    }

    .large-paragraph, h2{
        font-size:32px;
    }
}


.index-container, #buildout iframe{
    height: 100% !important;
}

main::-webkit-scrollbar, div::-webkit-scrollbar{
    display: none;
}

main, div{
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hovered-button{
    
}